<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlink}}
  </head>
  <body>
 {{>navbar}}

    <!-- main <header> -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side  -->

            <div class="col-md-6 col-12 main_header_left">
              <p class="wel"> HEY!  WELCOME HERE...</p>
              <h1>
                 You can also visit<span class="txt_clr"> Weather website </span>for more information
                
              </h1>

              <a href="https://weather.com/" target="_thapa">
                <button>Click Here To Know</button>
              </a>
            </div>
            <!-- right side div  -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img src="images/man.png" alt="" class="img-fluid" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <footer> -->
    <footer>
      <p>created</p>
    </footer>
  </body>
</html>
