<!DOCTYPE html>
<html lang="en">
  <head>
{{>headerlink}}
  </head>
  <body>
   {{>navbar}}

    <!-- main <header> -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          
          <div class="main_content">
            <form class="temp_form">
                <input type="text" id="cityName" placeholder="Enter your City Name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
            </form>
          </div>

          <div class="tempInfo">
            <div class="top_layer">
                <p id="day"></p>
                <p id="today_date"> </p>
            </div>
            <div class="main_layer ">
                <p id="city_name">Get Output Here</p>
                <div class="middle_layer data_hide">
                    <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                    <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>

                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <footer> -->
    {{!-- <footer>
      <p>created</p>
    </footer> --}}
    <script src="js/main.js">

    </script>
    <script>
      
      const getCurrentDay=()=>{
        let wday=new Array(7);
        wday[0]="Sunday";
        wday[1]="Monsday";
        wday[2]="Tuesday";
        wday[3]="Wednesday";
        wday[4]="Thursday";
        wday[5]="Friday";
        wday[6]="Saturday";

        let currentTime=new Date();
        days=wday[currentTime.getDay()];
        let day=document.getElementById("day");

        day.innerText=days;
      };
      getCurrentDay=()

    </script>
  </body>
</html>
